# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.KAG.Libraries.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
